<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<!--第三方CSS-->
<link href="/javascripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="/javascripts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="/stylesheets/theme.css" rel="stylesheet" />
<link href="/javascripts/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
<link href="/javascripts/bootstrapvalidator/dist/css/bootstrapValidator.min.css" rel="stylesheet" />

<!--第三方js-->
<script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-table/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/javascripts/layer/layer.js"></script>
<script src="/javascripts/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>

<!--工程内部js-->
<script type="text/javascript" src="/javascripts/commons/windows.js"></script>
<script type="text/javascript" src="/javascripts/modules/dict/dictType.js"></script>
</head>
<body>
	<div class="main-content">
		<table id="tb_dictType"></table>
	</div>
	<div align="center" style="margin: 0em 0em 1em 0em">
		<!-- button不能放form里，否则layer失效 -->
		<button id="savebtn" class="btn btn-success">
			<i class="fa fa-save">保存</i>
		</button>
		<button class="btn btn-info" style="margin-left: 30px;">
			<i class="fa fa-undo">取消</i>
		</button>
	</div>
</body>
</html>
