<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link href="/javascripts/bootstrapvalidator/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
<link href="/stylesheets/clock.css" rel="stylesheet" />
<link href="/stylesheets/tiles.css" rel="stylesheet" />
<!--工程js-->
<script src="/javascripts/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
<script src="/javascripts/echarts/echarts.min.js"></script>
<script src="/javascripts/echarts/map/js/china.js"></script>
<!--工程内部js-->
<script src="/javascripts/modules/statistic/statistic_radar.js"></script>
<script src="/javascripts/modules/statistic/statistic_map.js"></script>
<script src="/javascripts/modules/statistic/statistic_usertop10.js"></script>
<script src="/javascripts/modules/statistic/statistic_fwstatus.js"></script>
<script src="/javascripts/modules/statistic/statistic_phonetop10.js"></script>
<script src="/javascripts/modules/statistic/statistic.js"></script>
<script src="/javascripts/modules/statistic/statistic_statustop10.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-md-3 tiles">
			<div class="col-md-4 tile">
				<span class="count_top">
					<i class="fa fa-fire"></i>
					防火墙
				</span>
				<div class="count" id="fwCount"></div>
			</div>
			<div class="col-md-4 tile">
				<span class="count_top">
					<i class="fa fa-adn"></i>
					应用
				</span>
				<div class="count" id="appCount"></div>
			</div>
			<div class="col-md-4 tile">
				<span class="count_top">
					<i class="fa fa-user"></i>
					用户
				</span>
				<div class="count" id="userCount"></div>
			</div>
			<div class="card">
				<div class="card-header">日志告警统计</div>
				<div id="statistic1" style="width: 100%; height: 440px;"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">告警区域分布</div>
				<div id="statistic2" style="width: 100%; height: 555px;"></div>
			</div>
		</div>
		<div class="col-md-3">
			<div id="clock" class="dark">
				<div class="display">
					<div class="weekdays"></div>
					<div class="ampm"></div>
					<div class="alarm"></div>
					<div class="digits"></div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">告警TOP10号码</div>
				<div id="statistic5" style="width: 100%; height: 440px;"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-header">审批日志TOP10用户</div>
					<div id="statistic4" style="width: 100%; height: 240px;"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">最新告警日志</div>
					<div id="statistic3" style="width: 100%; height: 240px;">
						<ul class="nav nav-tabs">
							<li role="presentation" id="alarmGroupLi" class="active">
								<a href="#">告警</a>
							</li>
							<li role="presentation" id="errLogGroupLi">
								<a href="#">失败</a>
							</li>
						</ul>
						<div id="alarmGroup" class="">
							<table id="table1"></table>
						</div>

						<div id="errLogGroup" class="" hidden="hidden">
							<table id="table2"></table>
						</div>
					</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div class="card-header">防火墙连接状态</div>
					<div id="statistic6" style="width: 100%; height: 240px;"></div>
			</div>
		</div>
	</div>
	<script src="/javascripts/moment/moment.min.js"></script>
	<script src="/javascripts/moment/locales.min.js"></script>
	<script src="/javascripts/modules/statistic/clock.js"></script>
</body>
</html>
