<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coulee.aicw.dao.AlarmLogEntityMsgMapper">
	<resultMap id="BaseResultMap" type="com.coulee.aicw.entity.AlarmLogMsgEntity">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="recive_msg" jdbcType="VARCHAR" property="reciveMsg" />
		<result column="alarm_log_id" jdbcType="VARCHAR" property="alarmLogId" />
		<result column="receive_date" jdbcType="TIMESTAMP" property="receiveDate" />
		<result column="mobile_number" jdbcType="VARCHAR" property="mobileNumber" />
		<result column="mobile_province" jdbcType="VARCHAR" property="mobileProvince" />
		<result column="mobile_city" jdbcType="VARCHAR" property="mobileCity" />
	</resultMap>
	<sql id="Base_Column_List">
		id, recive_msg, alarm_log_id,receive_date
	</sql>
	<select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fw_alarm_log_msg
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="findByAlarmLogId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fw_alarm_log_msg
		where alarm_log_id = #{alarmid,jdbcType=VARCHAR}
	</select>

	<insert id="add" parameterType="com.coulee.aicw.entity.AlarmLogEntity">
		<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
			SELECT uuid_generate_v4() as uuid
		</selectKey>
		insert into fw_alarm_log_msg (id, recive_msg,
		alarm_log_id,receive_date)
		values (#{id,jdbcType=VARCHAR}, #{reciveMsg,jdbcType=VARCHAR},
		#{alarmLogId,jdbcType=VARCHAR})
	</insert>

	<select id="queryAlarmLogMsgDetail" parameterType="com.coulee.aicw.entity.AlarmLogEntity" resultMap="BaseResultMap">
		select logmsg.id, recive_msg, alarm_log_id, receive_date, mobile_number,log.mobile_province,log.mobile_city
		from fw_alarm_log log right join fw_alarm_log_msg logmsg on log.id = logmsg.alarm_log_id
		<where>
			<if test="params != null">
				<if test="params.beginTime != null">
					and receive_date <![CDATA[>= #{params.beginTime,jdbcType=TIMESTAMP}]]>
				</if>
				<if test="params.endTime != null">
					and receive_date <![CDATA[<= #{params.endTime,jdbcType=TIMESTAMP}]]>
				</if>
				<if test="params.id != null and params.id !=''">
					and logmsg.alarm_log_id = #{params.id,jdbcType=VARCHAR}
				</if>
				<if test="params.mobileNumber != null and params.mobileNumber !=''">
					and log.mobile_number = #{params.mobileNumber,jdbcType=VARCHAR}
				</if>
				<if test="params.mobileProvince != null and params.mobileProvince !=''">
					and log.mobile_province = #{params.mobileProvince,jdbcType=VARCHAR}
				</if>
			</if>
		</where>
		order by logmsg.id desc
	</select>


	<select id="queryAlarmLogMsgCount" parameterType="com.coulee.aicw.entity.AlarmLogMsgEntity" resultType="java.lang.Integer">
		select count(1) as count from fw_alarm_log_msg
		<where>
			<if test="beginTime != null">
				and receive_date <![CDATA[>= #{beginTime,jdbcType=TIMESTAMP}]]>
			</if>
			<if test="endTime != null">
				and receive_date <![CDATA[<= #{endTime,jdbcType=TIMESTAMP}]]>
			</if>
		</where>
	</select>
	<select id="queryLatestAlarm10"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fw_alarm_log_msg
		order by receive_date DESC LIMIT 5 OFFSET 0
	</select>


</mapper>