<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coulee.aicw.dao.ApplicationManageEntityMapper">
  <resultMap id="BaseResultMap" type="com.coulee.aicw.entity.ApplicationManageEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="fw_id" jdbcType="VARCHAR" property="fwId" />
    <result column="approve_user" jdbcType="VARCHAR" property="approveUser" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="app_ip_url" jdbcType="VARCHAR" property="appIpUrl" />
    <result column="is_approve" jdbcType="VARCHAR" property="isApprove" />
    <result column="app_alias" jdbcType="VARCHAR" property="appAlias" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="con_ip" jdbcType="VARCHAR" property="conIp" />
    <result column="con_port" jdbcType="INTEGER" property="conPort"/>
    <result column="is_use_url" jdbcType="VARCHAR" property="isUseUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fw_id, approve_user, app_name, app_ip_url, is_approve, app_alias, remark,con_ip,con_port,is_use_url
  </sql>
  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_application_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="findByAppAlias" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_application_manage
    where app_alias = #{appAlias,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from fw_application_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="add" parameterType="com.coulee.aicw.entity.ApplicationManageEntity">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT uuid_generate_v4() as uuid
    </selectKey>
    insert into fw_application_manage (id, fw_id, approve_user, 
      app_name, app_ip_url, is_approve, 
      app_alias, remark,con_ip,con_port,is_use_url)
    values (#{id,jdbcType=VARCHAR}, #{fwId,jdbcType=VARCHAR}, #{approveUser,jdbcType=VARCHAR}, 
      #{appName,jdbcType=VARCHAR}, #{appIpUrl,jdbcType=VARCHAR}, #{isApprove,jdbcType=VARCHAR}, 
      #{appAlias,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{conIp,jdbcType=VARCHAR}, 
      #{conPort,jdbcType=INTEGER}, #{isUseUrl,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.coulee.aicw.entity.ApplicationManageEntity">
    update fw_application_manage
    <set>
      <if test="fwId != null">
        fw_id = #{fwId,jdbcType=VARCHAR},
      </if>
      <if test="approveUser != null">
        approve_user = #{approveUser,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appIpUrl != null">
        app_ip_url = #{appIpUrl,jdbcType=VARCHAR},
      </if>
      <if test="isApprove != null">
        is_approve = #{isApprove,jdbcType=VARCHAR},
      </if>
      <if test="appAlias != null">
        app_alias = #{appAlias,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="conIp != null">
        con_ip = #{conIp,jdbcType=VARCHAR},
      </if>
      <if test="conPort != null">
        con_port = #{conPort,jdbcType=VARCHAR},
      </if>
      <if test="isUseUrl != null">
        is_use_url = #{isUseUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_application_manage
    <where>
      <if test="params != null">
        <if test="params.fwId != null and params.fwId !=''">
          and fw_id = #{params.fwId,jdbcType=VARCHAR}
        </if>
         <if test="params.fwIdLike != null and params.fwIdLike !=''">
          and fw_id like '%'|| #{params.fwIdLike,jdbcType=VARCHAR}||'%'
        </if>
        <if test="params.approveUser != null and params.approveUser !=''">
          and approve_user = #{params.approveUser,jdbcType=VARCHAR}
        </if>
        <if test="params.appName != null and params.appName !=''">
          and app_name = #{params.appName,jdbcType=VARCHAR}
        </if>
        <if test="params.appNameLike != null and params.appNameLike !=''">
          and app_name like  '%'||#{params.appNameLike,jdbcType=VARCHAR}||'%'
        </if>
        <if test="params.appIpUrl != null and params.appIpUrl !=''">
          and app_ip_url = #{params.appIpUrl,jdbcType=VARCHAR}
        </if>
        <if test="params.isApprove != null and params.isApprove !=''">
          and is_approve = #{params.isApprove,jdbcType=VARCHAR}
        </if>
        <if test="params.appAlias != null and params.appAlias !=''">
          and app_alias = #{params.appAlias,jdbcType=VARCHAR}
        </if>
        <if test="params.appAliasLike != null and params.appAliasLike !=''">
          and app_alias like '%'||#{params.appAliasLike,jdbcType=VARCHAR}||'%'
        </if>
        <if test="params.remark != null and params.remark !=''">
          and remark = #{params.remark,jdbcType=VARCHAR}
        </if>
        <if test="params.conIp != null and params.conIp !=''">
          and con_ip = #{params.conIp,jdbcType=VARCHAR}
        </if>
        <if test="params.conIpLike != null and params.conIpLike !=''">
          and con_ip like  '%'||#{params.conIpLike,jdbcType=VARCHAR}||'%'
        </if>
        <if test="params.conPort != null  ">
          and con_port = #{params.conPort,jdbcType=INTEGER}
        </if>
        <if test="params.isUseUrl != null and params.isUseUrl !=''">
          and is_use_url = #{params.isUseUrl,jdbcType=VARCHAR}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
    order by id desc
  </select>
  <select id="countByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from fw_application_manage
    <where>
      <if test="params != null">
        <if test="params.fwId != null and params.fwId !=''">
          and fw_id = #{params.fwId,jdbcType=VARCHAR}
        </if>
        <if test="params.approveUser != null and params.approveUser !=''">
          and approve_user = #{params.approveUser,jdbcType=VARCHAR}
        </if>
        <if test="params.appName != null and params.appName !=''">
          and app_name = #{params.appName,jdbcType=VARCHAR}
        </if>
        <if test="params.appIpUrl != null and params.appIpUrl !=''">
          and app_ip_url = #{params.appIpUrl,jdbcType=VARCHAR}
        </if>
        <if test="params.isApprove != null and params.isApprove !=''">
          and is_approve = #{params.isApprove,jdbcType=VARCHAR}
        </if>
        <if test="params.appAlias != null and params.appAlias !=''">
          and app_alias = #{params.appAlias,jdbcType=VARCHAR}
        </if>
        <if test="params.remark != null and params.remark !=''">
          and remark = #{params.remark,jdbcType=VARCHAR}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
        <if test="params.conIp != null and params.conIp !=''">
          and con_ip = #{params.conIp,jdbcType=VARCHAR}
        </if>
        <if test="params.conPort != null  ">
          and con_port = #{params.conPort,jdbcType=INTEGER}
        </if>
        <if test="params.isUseUrl != null and params.isUseUrl !=''">
          and is_use_url = #{params.isUseUrl,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
  </select>
  <select id="findByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_application_manage where id in 
    <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>