<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coulee.aicw.dao.DictionaryEntityMapper">
  <resultMap id="BaseResultMap" type="com.coulee.aicw.entity.DictionaryEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dic_type_code" jdbcType="VARCHAR" property="dicTypeCode" />
    <result column="dic_name" jdbcType="VARCHAR" property="dicName" />
    <result column="dic_status" jdbcType="VARCHAR" property="dicStatus" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="value_type" jdbcType="VARCHAR" property="valueType" />
    <result column="parent_dic_id" jdbcType="VARCHAR" property="parentDicId" />
    <result column="dic_value" jdbcType="VARCHAR" property="dicValue" />
    <result column="dic_des" jdbcType="VARCHAR" property="dicDes" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dic_type_code, dic_name, dic_status, create_user, create_date, update_user, update_date, 
    value_type, parent_dic_id, dic_value, dic_des
  </sql>
  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_dictionary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from fw_dictionary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="add" parameterType="com.coulee.aicw.entity.DictionaryEntity">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT uuid_generate_v4() as uuid
    </selectKey>
    insert into fw_dictionary (id, dic_type_code, dic_name, 
      dic_status, create_user, create_date, 
      update_user, update_date, value_type, 
      parent_dic_id, dic_value, dic_des
      )
    values (#{id,jdbcType=VARCHAR}, #{dicTypeCode,jdbcType=VARCHAR}, #{dicName,jdbcType=VARCHAR}, 
      #{dicStatus,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{valueType,jdbcType=VARCHAR}, 
      #{parentDicId,jdbcType=VARCHAR}, #{dicValue,jdbcType=VARCHAR}, #{dicDes,jdbcType=VARCHAR}
      )
  </insert>
  <update id="update" parameterType="com.coulee.aicw.entity.DictionaryEntity">
    update fw_dictionary
    <set>
      <if test="dicTypeCode != null">
        dic_type_code = #{dicTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null">
        dic_name = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="dicStatus != null">
        dic_status = #{dicStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="valueType != null">
        value_type = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="parentDicId != null">
        parent_dic_id = #{parentDicId,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null">
        dic_value = #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="dicDes != null">
        dic_des = #{dicDes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_dictionary
    <where>
      <if test="params != null">
        <if test="params.dicTypeCode != null and params.dicTypeCode !=''">
          and dic_type_code = #{params.dicTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="params.dicName != null and params.dicName !=''">
          and dic_name = #{params.dicName,jdbcType=VARCHAR}
        </if>
        <if test="params.dicStatus != null and params.dicStatus !=''">
          and dic_status = #{params.dicStatus,jdbcType=VARCHAR}
        </if>
        <if test="params.createUser != null and params.createUser !=''">
          and create_user = #{params.createUser,jdbcType=VARCHAR}
        </if>
        <if test="params.createDate != null">
          and create_date = #{params.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateUser != null and params.updateUser !=''">
          and update_user = #{params.updateUser,jdbcType=VARCHAR}
        </if>
        <if test="params.updateDate != null">
          and update_date = #{params.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.valueType != null and params.valueType !=''">
          and value_type = #{params.valueType,jdbcType=VARCHAR}
        </if>
        <if test="params.parentDicId != null and params.parentDicId !=''">
          and parent_dic_id = #{params.parentDicId,jdbcType=VARCHAR}
        </if>
        <if test="params.dicValue != null and params.dicValue !=''">
          and dic_value = #{params.dicValue,jdbcType=VARCHAR}
        </if>
        <if test="params.dicDes != null and params.dicDes !=''">
          and dic_des = #{params.dicDes,jdbcType=VARCHAR}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
    order by id desc
  </select>
  <select id="countByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from fw_dictionary
    <where>
      <if test="params != null">
        <if test="params.dicTypeCode != null and params.dicTypeCode !=''">
          and dic_type_code = #{params.dicTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="params.dicName != null and params.dicName !=''">
          and dic_name = #{params.dicName,jdbcType=VARCHAR}
        </if>
        <if test="params.dicStatus != null and params.dicStatus !=''">
          and dic_status = #{params.dicStatus,jdbcType=VARCHAR}
        </if>
        <if test="params.createUser != null and params.createUser !=''">
          and create_user = #{params.createUser,jdbcType=VARCHAR}
        </if>
        <if test="params.createDate != null">
          and create_date = #{params.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateUser != null and params.updateUser !=''">
          and update_user = #{params.updateUser,jdbcType=VARCHAR}
        </if>
        <if test="params.updateDate != null">
          and update_date = #{params.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.valueType != null and params.valueType !=''">
          and value_type = #{params.valueType,jdbcType=VARCHAR}
        </if>
        <if test="params.parentDicId != null and params.parentDicId !=''">
          and parent_dic_id = #{params.parentDicId,jdbcType=VARCHAR}
        </if>
        <if test="params.dicValue != null and params.dicValue !=''">
          and dic_value = #{params.dicValue,jdbcType=VARCHAR}
        </if>
        <if test="params.dicDes != null and params.dicDes !=''">
          and dic_des = #{params.dicDes,jdbcType=VARCHAR}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
  </select>
  <select id="findByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_dictionary where id in 
    <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>