<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coulee.aicw.dao.DictionaryTypeEntityMapper">
  <resultMap id="BaseResultMap" type="com.coulee.aicw.entity.DictionaryTypeEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_des" jdbcType="VARCHAR" property="typeDes" />
    <result column="type_status" jdbcType="VARCHAR" property="typeStatus" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, type_name, type_des, type_status, create_user, create_date, update_user, 
    update_date
  </sql>
  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_dictionary_type
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from fw_dictionary_type
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="add" parameterType="com.coulee.aicw.entity.DictionaryTypeEntity">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT uuid_generate_v4() as uuid
    </selectKey>
    insert into fw_dictionary_type (id, type_code, type_name, 
      type_des, type_status, create_user, 
      create_date, update_user, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{typeDes,jdbcType=VARCHAR}, #{typeStatus,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="update" parameterType="com.coulee.aicw.entity.DictionaryTypeEntity">
    update fw_dictionary_type
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDes != null">
        type_des = #{typeDes,jdbcType=VARCHAR},
      </if>
      <if test="typeStatus != null">
        type_status = #{typeStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_dictionary_type
    <where>
      <if test="params != null">
        <if test="params.typeCode != null and params.typeCode !=''">
          and type_code = #{params.typeCode,jdbcType=VARCHAR}
        </if>
        <if test="params.typeName != null and params.typeName !=''">
          and type_name = #{params.typeName,jdbcType=VARCHAR}
        </if>
        <if test="params.typeDes != null and params.typeDes !=''">
          and type_des = #{params.typeDes,jdbcType=VARCHAR}
        </if>
        <if test="params.typeStatus != null and params.typeStatus !=''">
          and type_status = #{params.typeStatus,jdbcType=VARCHAR}
        </if>
        <if test="params.createUser != null and params.createUser !=''">
          and create_user = #{params.createUser,jdbcType=VARCHAR}
        </if>
        <if test="params.createDate != null">
          and create_date = #{params.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateUser != null and params.updateUser !=''">
          and update_user = #{params.updateUser,jdbcType=VARCHAR}
        </if>
        <if test="params.updateDate != null">
          and update_date = #{params.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
    order by id desc
  </select>
  <select id="countByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from fw_dictionary_type
    <where>
      <if test="params != null">
        <if test="params.typeCode != null and params.typeCode !=''">
          and type_code = #{params.typeCode,jdbcType=VARCHAR}
        </if>
        <if test="params.typeName != null and params.typeName !=''">
          and type_name = #{params.typeName,jdbcType=VARCHAR}
        </if>
        <if test="params.typeDes != null and params.typeDes !=''">
          and type_des = #{params.typeDes,jdbcType=VARCHAR}
        </if>
        <if test="params.typeStatus != null and params.typeStatus !=''">
          and type_status = #{params.typeStatus,jdbcType=VARCHAR}
        </if>
        <if test="params.createUser != null and params.createUser !=''">
          and create_user = #{params.createUser,jdbcType=VARCHAR}
        </if>
        <if test="params.createDate != null">
          and create_date = #{params.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.updateUser != null and params.updateUser !=''">
          and update_user = #{params.updateUser,jdbcType=VARCHAR}
        </if>
        <if test="params.updateDate != null">
          and update_date = #{params.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
  </select>
  <select id="findByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_dictionary_type where id in 
    <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>