<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coulee.aicw.dao.FwOrderEntityMapper">
  <resultMap id="BaseResultMap" type="com.coulee.aicw.entity.FwOrderEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="fw_type" jdbcType="VARCHAR" property="fwType" />
    <result column="fw_order" jdbcType="VARCHAR" property="fwOrder" />
    <result column="fw_order_num" jdbcType="INTEGER" property="fwOrderNum" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="suc_prompt" jdbcType="VARCHAR" property="sucPrompt" />
    <result column="error_prompt" jdbcType="VARCHAR" property="errorPrompt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fw_type, fw_order, fw_order_num, order_type, suc_prompt, error_prompt
  </sql>
  <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="java.lang.String">
    delete from fw_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="add" parameterType="com.coulee.aicw.entity.FwOrderEntity">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      SELECT uuid_generate_v4() as uuid
    </selectKey>
    insert into fw_order (id, fw_type, fw_order, 
      fw_order_num, order_type, suc_prompt, 
      error_prompt)
    values (#{id,jdbcType=VARCHAR}, #{fwType,jdbcType=VARCHAR}, #{fwOrder,jdbcType=VARCHAR}, 
      #{fwOrderNum,jdbcType=INTEGER}, #{orderType,jdbcType=VARCHAR}, #{sucPrompt,jdbcType=VARCHAR}, 
      #{errorPrompt,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.coulee.aicw.entity.FwOrderEntity">
    update fw_order
    <set>
      <if test="fwType != null">
        fw_type = #{fwType,jdbcType=VARCHAR},
      </if>
      <if test="fwOrder != null">
        fw_order = #{fwOrder,jdbcType=VARCHAR},
      </if>
      <if test="fwOrderNum != null">
        fw_order_num = #{fwOrderNum,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="sucPrompt != null">
        suc_prompt = #{sucPrompt,jdbcType=VARCHAR},
      </if>
      <if test="errorPrompt != null">
        error_prompt = #{errorPrompt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_order
    <where>
      <if test="params != null">
        <if test="params.fwType != null and params.fwType !=''">
          and fw_type = #{params.fwType,jdbcType=VARCHAR}
        </if>
        <if test="params.fwOrder != null and params.fwOrder !=''">
          and fw_order = #{params.fwOrder,jdbcType=VARCHAR}
        </if>
        <if test="params.fwOrderNum != null">
          and fw_order_num = #{params.fwOrderNum,jdbcType=INTEGER}
        </if>
        <if test="params.orderType != null and params.orderType !=''">
          and order_type = #{params.orderType,jdbcType=VARCHAR}
        </if>
        <if test="params.sucPrompt != null and params.sucPrompt !=''">
          and suc_prompt = #{params.sucPrompt,jdbcType=VARCHAR}
        </if>
        <if test="params.errorPrompt != null and params.errorPrompt !=''">
          and error_prompt = #{params.errorPrompt,jdbcType=VARCHAR}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
    order by fw_type ,order_type,fw_order_num asc
  </select>
  <select id="countByParams" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from fw_order
    <where>
      <if test="params != null">
        <if test="params.fwType != null and params.fwType !=''">
          and fw_type = #{params.fwType,jdbcType=VARCHAR}
        </if>
        <if test="params.fwOrder != null and params.fwOrder !=''">
          and fw_order = #{params.fwOrder,jdbcType=VARCHAR}
        </if>
        <if test="params.fwOrderNum != null">
          and fw_order_num = #{params.fwOrderNum,jdbcType=INTEGER}
        </if>
        <if test="params.orderType != null and params.orderType !=''">
          and order_type = #{params.orderType,jdbcType=VARCHAR}
        </if>
        <if test="params.sucPrompt != null and params.sucPrompt !=''">
          and suc_prompt = #{params.sucPrompt,jdbcType=VARCHAR}
        </if>
        <if test="params.errorPrompt != null and params.errorPrompt !=''">
          and error_prompt = #{params.errorPrompt,jdbcType=VARCHAR}
        </if>
        <if test="params.id != null and params.id !=''">
          and id = #{params.id,jdbcType=VARCHAR}
        </if>
      </if>
    </where>
  </select>
  <select id="findByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_order where id in 
    <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>