<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coulee.aicw.dao.StatisticMapper">
	<resultMap id="chinaMapResult" type="com.coulee.aicw.entity.statistic.ChinaMapEntity">
		<result column="mobile_province" jdbcType="VARCHAR" property="name" />
		<result column="receive_count" jdbcType="VARCHAR" property="value" />
	</resultMap>

	<resultMap id="userTop10" type="com.coulee.aicw.entity.statistic.UserLogTop10Entity">
		<result column="apply_user_id" jdbcType="VARCHAR" property="name" />
		<result column="apply_count" jdbcType="VARCHAR" property="value" />
	</resultMap>

	<select id="queryChinaMapData" parameterType="com.coulee.aicw.entity.statistic.ChinaMapEntity" resultMap="chinaMapResult">
		select mobile_province ,sum(recive_count) as receive_count from
		fw_alarm_log group by mobile_province
	</select>


	<select id="queryUserStatusTop10" parameterType="com.coulee.aicw.entity.statistic.UserLogTop10Entity" resultMap="userTop10">
		select apply_user_id ,count(1) as apply_count from fw_control_log
		<where>
			<if test="beginTime != null">
				and valid_time <![CDATA[>= #{beginTime,jdbcType=TIMESTAMP}]]>
			</if>
			<if test="endTime != null">
				and valid_time <![CDATA[<= #{endTime,jdbcType=TIMESTAMP}]]>
			</if>
		</where>
		group by apply_user_id order by apply_count DESC LIMIT 10 OFFSET 0
	</select>


</mapper>