<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>防火墙管理</title>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--第三方CSS-->
<link href="/javascripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="/javascripts/font-awesome-4.7.0/css/font-awesome.css" 	rel="stylesheet" />
<link href="/stylesheets/theme.css" rel="stylesheet" />
<link href="/javascripts/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
<link href="/javascripts/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />

<!--第三方js-->
<script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/layer/layer.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-table/dist/bootstrap-table.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
 <script src="/javascripts/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
<!--工程内部js-->
<script type="text/javascript" src="/javascripts/commons/windows.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/javascripts/commons/initform.js"></script>
<script type="text/javascript" src="/javascripts/modules/fwInfo/fwInfo-edit.js"></script>

</head>

<body>
	<form class="form-horizontal" role="form">
		<div class="container">
			<fieldset>
				<legend></legend>
				<input name="id" type="hidden" />
				<div class="row form-group">
					<label class="control-label col-sm-2">设备名称<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="fwName" type="text"
							placeholder="" />
					</div>
					<label class="control-label col-sm-2">设备编号:</label>
					<div class="col-sm-4">
						<input class="form-control" name="fwCode" type="text"
							placeholder="" />
					</div>
				</div>
				<div class="row form-group">
					<label class="control-label col-sm-2">设备别名:</label>
					<div class="col-sm-4">
						<input class="form-control" name="fwAlias" type="text" placeholder="" />
					</div>
					<label class="control-label col-sm-2">设备类型<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<select class="selectpicker show-tick form-control" id="fwTypeDic"
							name="fwType" data-live-search="true">
						</select>

					</div>
				</div>

				<div class="row form-group">
					<label class="control-label col-sm-2">IP类型<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<select class="selectpicker show-tick form-control" id="ipTypeDic"
							name="ipType" data-live-search="false">
						</select>

					</div>
					<label class="control-label col-sm-2">设备IP<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="fwIp" id="fwIp" type="text"
							placeholder="IPV4" />
						<input class="form-control" name="fwIpv6" id="fwIpv6" type="text" 
							placeholder="IPV6" />
					</div>
				</div>
				
				<div class="row form-group">
					<label class="control-label col-sm-2">连接协议<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<select class="selectpicker show-tick form-control" id="fwProtocolDic"
							name="fwProtocol" data-live-search="true">
						</select>
					</div>
					<label class="control-label col-sm-2">端口<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="fwPort" type="number" min="1" max="65535"
						placeholder="" />
					</div>
				</div>
				
				<div class="row form-group">
					<label class="control-label col-sm-2">设备编码<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<select class="selectpicker show-tick form-control" id="encodeDic"
							name="encode" data-live-search="true">
						</select>
					</div>
					<label class="control-label col-sm-2">设备状态<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<select class="selectpicker show-tick form-control" id="fwStatusDic"
							name="fwStatus" data-live-search="true">
						</select>
					</div>
				</div>
				
				<div class="row form-group">
					<label class="control-label col-sm-2">管理员账号<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="adminAcount" type="text"
							placeholder="" />
					</div>
					<label class="control-label col-sm-2">管理员密码<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="adminPwd" type="password"
							placeholder="" />
					</div>
				</div>
				
				<div class="row form-group">
					<label class="control-label col-sm-2">确认密码<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="adminPwd_confirm" type="password"
							placeholder="" />
					</div>
					<label class="control-label col-sm-2">管理员提示符<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="adminPrompt" type="text" value="$"
							placeholder="" />
					</div>
				</div>
				
				<div class="row form-group">
					<label class="control-label col-sm-2">特权密码<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="rootPwd" type="password"
							placeholder="" />
					</div>
					<label class="control-label col-sm-2">特权提示符<font color="red">*</font>:</label>
					<div class="col-sm-4">
						<input class="form-control" name="rootPrompt" type="text" value="#"
							placeholder="" />
					</div>
				</div>
				
			</fieldset>
		</div>
	</form>
	<div align="center" style="margin: 0em 0em 1em 0em">
		<!-- button不能放form里，否则layer失效 -->
		<button class="btn btn-success">
			<i class="fa fa-save"> 保存</i>
		</button>
		<button class="btn btn-info" style="margin-left: 30px;">
			<i class="fa fa-undo"> 取消</i>
		</button>
	</div>
</body>

</html>
