<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
	<!--第三方CSS-->
    <link href="/javascripts/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/javascripts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet"/>
    <link href="/stylesheets/theme.css" rel="stylesheet" />
    <link href="/javascripts/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
    <link href="/javascripts/bootstrapvalidator/dist/css/bootstrapValidator.min.css" rel="stylesheet" />

	<!--第三方js-->
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/layer/layer.js"></script>
    <script src="/javascripts/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
    
    <!--工程内部js-->
    <script type="text/javascript" src="/javascripts/commons/windows.js"></script>
    <script type="text/javascript" src="/javascripts/commons/initform.js"></script>
    <script type="text/javascript" src="/javascripts/modules/product/product-operate.js"></script>
    
</head>
<body>
<form class="form-horizontal" role="form">
	<div class="container">
		<fieldset>
			<legend></legend>
			<div class="row form-group">
				<label class="control-label col-sm-2">产品名：</label>
				<div class="col-sm-10">
					<input name="id" type="hidden"/>
					<input class="form-control" name="productName" type="text" placeholder="" />
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-sm-2">产品标识：</label>
				<div class="col-sm-10">
					<input class="form-control" name="productMark"  placeholder="" />
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-sm-2">加解密方式：</label>
				<div class="col-sm-10">
					<select name="cryptType" id="cryptTypeId" class="form-control">
						<option value="AES">AES</option>
						<option value="3desbase64">3DES+BASE64</option>
		            </select>
				</div>
			</div>
			<div class="row form-group">
				<label class="control-label col-sm-2">密钥：</label>
				<div class="col-sm-10">
					<input class="form-control" name="cryptKey" type="password" placeholder="" />
				</div>
			</div>
		</fieldset>
	</div>
</form>
<div align="center" style="margin:0em 0em 1em 0em"><!-- button不能放form里，否则layer失效 -->
	<button class="btn btn-success"><i class="fa fa-save"> 保存</i></button>
    <button class="btn btn-info" style="margin-left:30px;"><i class="fa fa-undo"> 取消</i></button>
</div>
</body>
</html>
