<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="./resources/img/myicon/bobby_favicon.ico" rel="shortcut icon">
    <title>欢迎访问</title>
    <!-- Bootstrap Core CSS 国内CDN-->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.css" rel="stylesheet">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <!-- Bootstrap Core JavaScript 国内CDN -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
    	ul,li{list-style: none;margin:0;padding:0;float:left;}
		html{height:100%}
		body{height:100%;margin:0px;padding:0px;font-family:"微软雅黑";}
		#container{height:500px;width:100%;}
		#r-result{width:100%;}
    </style>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=WxM3nw2OYe4ukF0ewMeI4ooiTRniGlqn"></script>
	<script type="text/javascript" src="https://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
</head>
<body>
	<div id="allmap"></div>
    <!-- Footer -->
    <div style="position:absolute;bottom:1%;left:40%;">
        <p>Copyright &copy; 电子科技大学ADS-B实验室</p>
	</div>
</body>
<script type="text/javascript">
	
	/**标签提示信息*/
	function addClickHandler(content,marker,opts){
		marker.addEventListener("click",function(e,opts){
			openInfo(content,e,opts)}
		);
	}
	function openInfo(content,e,opts){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	}
	

	
	
	loadHeatmap();
	/**加载热力图 */
	function loadHeatmap(){
		$.ajax({
			  type: 'post',
			  url: '/locations',
			  contentType:'application/json',
			  success: function(res){
				  var datas = JSON.parse(res);
					// 百度地图API功能
					var map = new BMap.Map("allmap");    // 创建Map实例
					map.centerAndZoom(new BMap.Point(datas[0][0].lng, datas[0][0].lat), 16);  // 初始化地图,设置中心点坐标和地图级别
					map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
					//添加地图类型控件
					map.addControl(new BMap.MapTypeControl({
						mapTypes:[
				            BMAP_NORMAL_MAP,
				            BMAP_HYBRID_MAP
				        ]}));	  
				  var lineCount = datas.length;
				  var markPoints=[];
				  for(var i =0;i<lineCount;i++){
					  var dataarr=datas[i];
					  var points=[];
					  for(var j =0;j<dataarr.length;j++){
						  points.push(new BMap.Point(dataarr[j].lng,dataarr[j].lat));
					  }
					  var polyline = new BMap.Polyline(points, {strokeColor:"blue", strokeWeight:3, strokeOpacity:0.5});  //定义折线
					  map.addOverlay(polyline);     //添加折线到地图上
					  markPoints.push(new BMap.Point(dataarr[0].lng, dataarr[0].lat));
				  }
				  var options = {
				            size: BMAP_POINT_SIZE_NORMAL,
				            shape: BMAP_POINT_SHAPE_STAR,
				            color: '#d340c3'
				        }
				  var pointCollection = new BMap.PointCollection(markPoints, options);  // 初始化PointCollection
				  map.addOverlay(pointCollection);  // 添加Overlay
			}
		});
	}
</script>
</html>
